# install basic requirements
-r requirements.txt

# art of code
black
flake8
pylint
isort
pydocstyle
taskipy
ruff
mypy

# tests
coverage
pyrefly
pytest
pytest-cov

# doc
# sphinx
# sphinx-rtd-theme
# sphinx-markdown-builder
# sphinx-math-dollar
# pypandoc
mkdocs
mkdocs-bibtex
mkdocs-dracula-theme
mkdocs-git-revision-date-localized-plugin
mkdocs-glightbox
mkdocs-jupyter
mkdocs-material
mkdocs-with-pdf
mkdocstrings-python
